<div class="wrapper">
    <header>

        <nav>

            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>

            <div class="logo">
                <%= link_to "Games", admins_games_path %>

            </div>



            <div class="menu">
                <ul>
                    <% if admin_signed_in? %>
                    <li>
                        <%=form_tag games_path, method: :get do %>
                        <%=text_field_tag :search, params[:search], class: "header-search" %>
                        <%=submit_tag "検索",class: "btn btn-banger"%>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "ゲーム追加", new_admins_game_path %>
                    </li>
                    <li>
                        <%= link_to "ゲーム一覧", admins_games_path %>
                    </li>
                    <li>
                        <%= link_to "ユーザー一覧", admins_users_path %>
                    </li>
                    <li>
                        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete%>
                    </li>
                    <% else %>
                    <li>
                        <%=form_tag games_path, method: :get do %>
                        <%=text_field_tag :search, params[:search], class: "header-search" %>
                        <%=submit_tag "検索",class: "btn btn-banger"%>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "ログイン", new_admin_session_path %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </nav>

    </header>
    <div class="main"></div>

</div>

<script type="text/javascript">
    // Menu-toggle button

    $(document).ready(function () {
        $(".menu-icon").on("click", function () {
            $("nav ul").toggleClass("showing");
        });
    });

    // Scrolling Effect

    $(window).on("scroll", function () {
        if ($(window).scrollTop()) {
            $('nav').addClass('black');
        } else {
            $('nav').removeClass('black');
        }
    })
</script>