 <%= form_for(@new_post, url: games_path) do |f| %>
    <div class="field">
        <%= f.label :タイトル %><br>
        <%= f.text_field :post_text %><br>
        <%= f.label :動画 %><br>
        <%= f.file_field :video, :accept => 'video/*' %><br>
        <%= f.label :画像%><br>
        <%= f.file_field :image %><br>
        <%= f.submit %>
        <%= f.hidden_field :game_id, :value => @game.id %>
    </div>
<% end %>