<div class="container">

    <%= form_for(@new_post, url: games_path) do |f| %>
    <div class="field">
        <%= f.label :タイトル %><br>
        <%= f.text_field :post_text %><br>
        <%= f.label :動画 %><br>
        <%= f.file_field :video, :accept => 'video/*' %><br>
        <%= f.label :画像%><br>
        <%= f.file_field :image %><br>
        <%= f.submit %>
        <%= f.hidden_field :game_id, :value => @game.id %>
    </div>
    <% end %>

    <div classs="row">
        <div class="col-md-6">
            <%= @game.title %>
            <%= @game.introduction %>
            <% if @game.image? %>

            <%= image_tag @game.image.thumb.url,width: "100px", height: "100px" %>

            <% end %>
        </div>
        <div class="col-md-6">

            <% @game.posts.each do |p| %>
            <% if p.video.present? %>
            <%= video_tag p.video.url, width: "200px", height: "100px", 
                    controls: true, autobuffer: true %>
            <% end %>
            <% if p.image.present? %>
            <%= image_tag p.image.thumb.url,width: "100px", height: "100px" %>
            <% end %>
            <%= form_for [p ,@postcoment] do |o| %>
            <div class="field">
                <%= o.label :本文 %><br>
                <%= o.text_field :content %><br>
                <%= o.submit %>
            </div>
            <% end %>
            <% end %>
        </div>





        <% @postcoments.each do |postcoment| %>
        <%= postcoment.content %>
        　　
        <% end %>

    </div>
</div>



<%# <% if current_user.favorites %>
<%= render "like" %>
<hr>
<%= render "posts/like" %>





<style>
    .iine__button {
        background: linear-gradient(to right, #feb400, #FFE300);
        line-height: 42px;
        color: #6d3701;
        font-size: 14px;
        display: inline-block;
        padding: 0 18px;
        border-radius: 100px;
        font-weight: bold;
    }
</style>