<div class="like-link" id="favorite-post-<%= post.id %>">
    <% if current_user.favorites.find_by(post_id: post.id) %>
    <%= link_to post_favorite_path(post_id: post.id), method: :delete, remote: true do %>
    <div class="iine__button">❤️
        <%= post.favorites.count %>
    </div>
    <% end %>

    <% else %>
    <%= link_to post_unfavorite_path(post_id: post.id), method: :post, remote: true do %>
    <div class="iine__button">♡️
        <%= post.favorites.count %>
    </div>
    <% end %>
    <% end %>
</div>
</div>