<!DOCTYPE html>
<html>

<head>
  <title>Games</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  >
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Anton|Noto+Sans+JP" rel="stylesheet">
</head>

<body>
  <%= render "partial/header" %>
  <%= yield %>
  <%= render "partial/footer" %>
</body>

</html>